.modal {
  display: none; 
  position: fixed; 
  z-index: 3; 
  padding-top: 100px; 
  padding-bottom: 100px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4);

    .content {
        position: relative;
        background-color: $page-color;
        margin: auto;
        padding: 0;
        border-radius: 8px;
        width: 90%;
        max-width: 500px;
        min-width: 300px;
        @include block-shadow;
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.8s;
        animation-name: animatetop;
        animation-duration: 0.4s;
        overflow: hidden;
      }
      
    .small {
        max-width: 300px;
    }
    
    .large {
        max-width: 700px;
    }

	.header {
		color: $bold-color;
        border-radius: 8px 8px 0 0;
		width: 100%;
		background-color: $main-color;

		h1 {
			padding: 30px 10px 5px 20px;
		}
	}

	.close {
	    font-size: 2rem;
	    font-weight: bold;
	    padding: 5px;

	    &:hover {
		    color: $light-color;
		    cursor: pointer;
	    }

	    &:active {
		    color: $dark-color;
		    cursor: pointer;
	    }
	}

	.body {
		padding: 30px 10px 10px 10px;
	}
}

p.modal_text {
    margin: 1.2rem;
    font-size: 1.5rem;
    margin-top: 0px;
    padding: 0px;
    color: #444;
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}