$main-color: green;
$light-color: #9FC;
$dark-color: darkgreen;
$small-width: 480px;
$medium-width: 800px;

html {
	font-size: 14px;
  min-height: 100vh;
}

.shadow_title {
  text-shadow: 3px 3px 5px darkgrey;
  font-size: 2.5rem;
  color: $main-color;
}

form.main {
  flex-grow: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

body {
  min-height: 100vh;
  background-color: #EEE;
	margin: 0px;
	font-family: arial;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main {
  flex-grow: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.row {
	display: flex;

  &.center {
    justify-content: center;
  }

  &.mobile_column {
    @media screen and (max-width: $small-width) {
      flex-direction: column;
      
      .input_normal,
      .input_small,
      .input_mini,
      .input_big,
      .input_medium {
        width: 97.5%;
      }
    }
  }
}

.right {
    float: right;
    margin-left: auto;
}

.center_column {
  min-width: 80%;
  margin: auto;
  align: center;
}

.margin_left_small {
  margin-left: 5px;
}

.header_small {
  font-size: 2rem;
  margin: 0;

  @media screen and (max-width: $small-width) {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: $small-width) {
  .desktop {
    display: none;
  }
}

.unselectable {
  user-select: none;
}

::selection {
  background: $light-color;
  color: black;
}

.info_table {
  font-size: 1.2rem;
  @media screen and (max-width: $small-width) {
    font-size: 1rem;
  }
  color: #5f5f5f;
  border-spacing: 5px;
  font-weight: bold;
  
  .item_value {
    width: 50%;
    vertical-align: bottom;
    color: grey;
  }
  
  .item_title {
    vertical-align: top;
  }
  td {
    border-bottom: darkgrey solid 1px;
  }
  td:last-child {
    width: 70%;
  }
}