.grid_column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  margin: 10px;
  margin-top: 0;
  margin-bottom: 0;
  
  .grid_block {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.grid_block {
  background-color: white;
  overflow: hidden;
  min-width: 200px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(100,100,100,0.2),0 6px 20px 0 rgba(100,100,100,0.19);

  .header {
    width: 100%;
    background-color: green;
    color: white;
    box-shadow: 0 0px 8px 0 rgba(0,0,0,0.2),0 0px 20px 0 rgba(0,0,0,0.19);
    
    h1 {
      font-size: 1.8rem;
      margin: 0px;
      padding: 5px;
    }
  }
  
  .body {
    margin: 10px;
  }
}

.grid_block,
.grid_column {

  &.h_big {
    height: 360px;
  }
  
  &.h_large {
    height: 300px;
  };
  
  &.h_medium {
    height: 200px;
  };
  
  &.h_normal {
    height: 240px;
  }
  
  &.h_small {
    height: 170px;
  }
  
  &.h_mini {
    height: 75px;
  }
  
  &.w_full {
    width: 100%;
  }
  
  &.w_normal {
    width: 49%;
  }
  
  &.w_large {
    width: 64%;
  }
  
  &.w_big {
    width: 72%;
  }
  
  &.w_medium {
    width: 32%;
    min-width: 150px;
  }
  
  &.w_small {
    width: 24%;
    min-width: 135px;
  }
  
  @media screen and (max-width: $medium-width){
    width: 90% !important;
    min-width: 300px !important;
    height: 300px !important;
    
    .grid_block {
      width: 100% !important;
    }
  }
  
  &.image {
    height: 180px !important;
    width: 180px !important;
    min-width: 180px !important;
    min-height: 180px !important;
  }
}

.row {
  &.grid {
    align-items: center;
    width: 100%;
  }
}

@media screen and (max-width: $medium-width){
  .row {
    &.grid {
      flex-direction: column;
    }
  }
}