.modal {
  display: none; 
  position: fixed; 
  z-index: 3; 
  padding-top: 100px; 
  padding-bottom: 100px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4);

  .content {
		position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 700px;
    min-width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.8s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    overflow: hidden;
	}

	.header {
		color: white;
		width: 100%;
		background-color: $main-color;

		h1 {
			padding: 50px 10px 5px 20px;
		}
	}

	.close {
	    font-size: 2rem;
	    font-weight: bold;
	    padding: 5px;

	    &:hover {
		    color: $light-color;
		    cursor: pointer;
	    }

	    &:active {
		    color: $dark-color;
		    cursor: pointer;
	    }
	}

	.body {
		padding: 30px 10px 10px 10px;
	}
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}