/* compiled by scssphp v0.0.12 on Wed, 03 May 2017 12:15:38 -0400 (0.1224s) */

html {
  font-size: 14px;
  min-height: 100vh; }

.error_message {
  background-color: lightgray;
  border-radius: 10px;
  font-family: courier;
  border-left: red solid 1px;
  margin: 10px;
  border-right: red solid 1px; }
  .error_message p {
    padding: 10px; }

.shadow_title {
  text-shadow: 3px 3px 5px darkgrey;
  font-size: 2.5rem;
  color: green; }

.page_title {
  margin: 5px;
  text-align: center;
  font-size: 2.5rem;
  color: #777; }
  @media screen and (max-width: 766px) {
  .page_title {
    font-size: 2rem; } }

form.main {
  flex-grow: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column; }

body {
  min-height: 100vh;
  background-color: #eee;
  margin: 0px;
  font-family: arial;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

main {
  flex-grow: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative; }

.hide {
  display: none !important; }

.row {
  display: flex; }
  .row.center {
    justify-content: center; }
  @media screen and (max-width: 766px) {
    .row.mobile_column {
      flex-direction: column; }
      .row.mobile_column .input_normal, .row.mobile_column .input_small, .row.mobile_column .input_mini, .row.mobile_column .input_big, .row.mobile_column .input_full, .row.mobile_column .input_large, .row.mobile_column .input_medium {
        width: 97.5%; } }

.right {
  float: right;
  margin-left: auto; }

.center_column {
  margin: auto;
  max-width: 80%;
  width: 1000px; }
  @media screen and (max-width: 766px) {
  .center_column {
    max-width: 100%; } }

.margin_left_small {
  margin-left: 5px; }

.header_small {
  font-size: 2rem;
  margin: 0; }
  @media screen and (max-width: 766px) {
  .header_small {
    font-size: 1.5rem; } }

@media screen and (max-width: 766px) {
  .desktop {
    display: none; } }

.unselectable {
  user-select: none; }

::selection {
  background: #8bc34a;
  color: black; }

.info_table {
  width: 100%;
  font-size: 1.2rem;
  color: #5f5f5f;
  border-spacing: 5px;
  font-weight: bold; }
  @media screen and (max-width: 766px) {
  .info_table {
    font-size: 1rem; } }
  .info_table .item_value {
    width: 50%;
    vertical-align: bottom;
    color: grey; }
  .info_table .item_title {
    vertical-align: top; }
  .info_table td {
    border-bottom: darkgrey solid 1px; }
  .info_table td:last-child {
    width: 70%; }
  .info_table tr:last-child td {
    border-bottom-width: 0; }

.only_show_on_small {
  display: none; }

.only_show_on_large {
  display: block; }

@media screen and (max-width: 766px) {
  .only_show_on_small {
    display: block; }

  .only_show_on_large {
    display: none; } }

header {
  width: 100%; }
  header .logo {
    max-height: 100px;
    max-width: 28%; }
    @media screen and (max-width: 766px) {
  header .logo {
    max-height: 100px;
    width: auto; } }
  header .name {
    max-width: 70%;
    max-height: 70px; }
  header .site_banner {
    background-color: #8bc34a; }
  header .nav_bar {
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19); }

.nav_bar {
  background-color: green;
  display: flex;
  margin-bottom: 10px;
  align-items: center; }
  .nav_bar a.item {
    color: #fff;
    padding: 8px 7px;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    height: 40px;
    align-items: center;
    display: flex; }
    @media screen and (max-width: 766px) {
  .nav_bar a.item {
    font-size: 2rem;
    padding: 8px 6px; } }
    .nav_bar a.item:hover {
      background-color: darkgreen;
      color: #8bc34a; }
    .nav_bar a.item:active {
      background-color: #8bc34a;
      color: black; }
  .nav_bar div.right {
    margin-left: auto; }
  .nav_bar a > i.fa {
    font-size: inherit; }
  .nav_bar .info:hover, .nav_bar .info:active {
    background-color: green !important;
    color: white !important; }

.nav_fixed {
  top: 0;
  z-index: 1;
  position: fixed;
  width: 100%; }

.hidden_bumper {
  height: 60px;
  display: none; }

.grid_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  margin: 10px;
  margin-top: 0;
  margin-bottom: 0; }
  .grid_column .grid_block {
    margin-left: 0px;
    margin-right: 0px; }

.grid_block {
  background-color: white;
  overflow: hidden;
  min-width: 200px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(100, 100, 100, 0.2), 0 6px 20px 0 rgba(100, 100, 100, 0.19); }
  .grid_block .header {
    width: 100%;
    background-color: green;
    color: white;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    align-items: center; }
    .grid_block .header h1 {
      font-size: 1.8rem;
      margin: 0px;
      padding: 5px; }
    .grid_block .header i {
      font-size: 1.4rem;
      margin: 10px;
      margin-left: auto; }
  .grid_block .body {
    margin: 10px;
    overflow: auto; }

@media screen and (max-width: 766px) {
      .grid_block .body, .grid_column .body {
        height: 240px !important; } }
  .grid_block.h_big, .grid_column.h_big {
    height: 360px; }
    .grid_block.h_big .body, .grid_column.h_big .body {
      height: 300px; }
  .grid_block.h_large, .grid_column.h_large {
    height: 300px; }
    .grid_block.h_large .body, .grid_column.h_large .body {
      height: 240px; }
  .grid_block.h_medium, .grid_column.h_medium {
    height: 200px; }
    .grid_block.h_medium .body, .grid_column.h_medium .body {
      height: 140px; }
  .grid_block.h_normal, .grid_column.h_normal {
    height: 240px; }
    .grid_block.h_normal .body, .grid_column.h_normal .body {
      height: 180px; }
  .grid_block.h_small, .grid_column.h_small {
    height: 170px; }
    .grid_block.h_small .body, .grid_column.h_small .body {
      height: 110px; }
  .grid_block.h_mini, .grid_column.h_mini {
    height: 75px; }
    .grid_block.h_mini .body, .grid_column.h_mini .body {
      height: 15px; }
  .grid_block.w_full, .grid_column.w_full {
    width: 100%; }
  .grid_block.w_normal, .grid_column.w_normal {
    width: 49%; }
  .grid_block.w_large, .grid_column.w_large {
    width: 64%; }
  .grid_block.w_big, .grid_column.w_big {
    width: 72%; }
  .grid_block.w_medium, .grid_column.w_medium {
    width: 32%;
    min-width: 150px; }
  .grid_block.w_small, .grid_column.w_small {
    width: 24%;
    min-width: 135px; }
  @media screen and (max-width: 766px) {
  .grid_block, .grid_column {
    width: 90% !important;
    min-width: 300px !important;
    height: 300px !important; }
    .grid_block .grid_block, .grid_column .grid_block {
      width: 100% !important; } }
  .grid_block.image, .grid_column.image {
    height: 180px !important;
    width: 180px !important;
    min-width: 180px !important;
    min-height: 180px !important; }

.row.grid {
  align-items: center;
  width: 100%; }

@media screen and (max-width: 766px) {
  .row.grid {
    flex-direction: column; } }

.small_icon {
  width: 40px;
  height: 40px; }
  .small_icon.round {
    clip-path: circle(20px at center); }

.large_icon {
  width: 180px;
  height: 180px; }
  .large_icon.round {
    clip-path: circle(90px at center); }

.modal {
  display: none;
  position: fixed;
  z-index: 3;
  padding-top: 100px;
  padding-bottom: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); }
  .modal .content {
    position: relative;
    background-color: white;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 500px;
    min-width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.8s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    overflow: hidden; }
  .modal .small {
    max-width: 300px; }
  .modal .large {
    max-width: 700px; }
  .modal .header {
    color: white;
    width: 100%;
    background-color: green; }
    .modal .header h1 {
      padding: 30px 10px 5px 20px; }
  .modal .close {
    font-size: 2rem;
    font-weight: bold;
    padding: 5px; }
    .modal .close:hover {
      color: #8bc34a;
      cursor: pointer; }
    .modal .close:active {
      color: darkgreen;
      cursor: pointer; }
  .modal .body {
    padding: 30px 10px 10px 10px; }

p.modal_text {
  margin: 1.2rem;
  font-size: 1.5rem;
  margin-top: 0px;
  padding: 0px;
  color: #444; }

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }

  to {
    top: 0;
    opacity: 1; } }

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }

  to {
    top: 0;
    opacity: 1; } }

.text_input, .select_input {
  width: 50%;
  margin-top: 10px;
  margin-bottom: 10px; }
  @media screen and (max-width: 766px) {
  .text_input, .select_input {
    margin: 5px; } }
  .text_input label, .select_input label {
    color: lightgrey;
    display: block;
    margin: 0;
    margin-top: 10px;
    margin-left: 20px; }
    @media screen and (max-width: 766px) {
  .text_input label, .select_input label {
    margin-left: 10px; } }
    .text_input label.required:after, .select_input label.required:after {
      content: "*";
      color: red;
      font-weight: bolder; }
  .text_input input, .select_input input, .text_input select, .select_input select, .text_input textarea, .select_input textarea {
    padding: 0;
    border-width: 0 0 1px 0;
    background-color: white;
    border-color: lightgrey;
    font-size: 1.2em;
    display: block;
    width: 95%;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
    color: #666; }
    @media screen and (max-width: 766px) {
  .text_input input, .select_input input, .text_input select, .select_input select, .text_input textarea, .select_input textarea {
    font-size: 1.2rem; } }
    .text_input input[multiple], .select_input input[multiple], .text_input select[multiple], .select_input select[multiple], .text_input textarea[multiple], .select_input textarea[multiple] {
      height: 1.85rem;
      overflow: auto; }
      @media screen and (max-width: 766px) {
  .text_input input[multiple], .select_input input[multiple], .text_input select[multiple], .select_input select[multiple], .text_input textarea[multiple], .select_input textarea[multiple] {
    height: 1.6rem; } }
      .text_input input[multiple] option, .select_input input[multiple] option, .text_input select[multiple] option, .select_input select[multiple] option, .text_input textarea[multiple] option, .select_input textarea[multiple] option {
        font-size: 1.1rem;
        margin-right: 10px;
        display: inline-block; }
        @media screen and (max-width: 766px) {
  .text_input input[multiple] option, .select_input input[multiple] option, .text_input select[multiple] option, .select_input select[multiple] option, .text_input textarea[multiple] option, .select_input textarea[multiple] option {
    margin: 0px; } }
    .text_input input:hover, .select_input input:hover, .text_input select:hover, .select_input select:hover, .text_input textarea:hover, .select_input textarea:hover, .text_input input:focus, .select_input input:focus, .text_input select:focus, .select_input select:focus, .text_input textarea:focus, .select_input textarea:focus {
      border-width: 0 0 2px 0;
      border-color: green;
      color: black; }
    .text_input input:hover + label, .select_input input:hover + label, .text_input select:hover + label, .select_input select:hover + label, .text_input textarea:hover + label, .select_input textarea:hover + label, .text_input input:focus + label, .select_input input:focus + label, .text_input select:focus + label, .select_input select:focus + label, .text_input textarea:focus + label, .select_input textarea:focus + label {
      color: green; }

.select_input select {
  margin-top: -1px; }

.input_error {
  color: red; }
  .input_error input, .input_error textarea {
    color: red;
    border-width: 0 0 2px 0;
    border-color: red; }
  .input_error label {
    color: red; }
  .input_error span {
    font-size: 0.8rem;
    color: red; }

.button {
  cursor: pointer;
  cursor: hand;
  text-decoration: none;
  background-color: green;
  color: white;
  font-size: 1.2rem;
  border-style: none;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 10px; }
  .button.large {
    font-size: 1.5rem;
    border-style: none;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: 2rem; }
  .button.lone {
    box-shadow: 0 4px 8px 0 rgba(100, 100, 100, 0.2), 0 6px 20px 0 rgba(100, 100, 100, 0.19); }

.checkbox_input {
  width: 25%;
  margin-top: 10px; }

.upload {
  width: 50%; }

.checkbox_input, .upload {
  margin-bottom: 10px; }
  @media screen and (max-width: 766px) {
  .checkbox_input, .upload {
    margin: 5px; } }
  .checkbox_input .label_container:hover .value_text, .upload .label_container:hover .value_text {
    border-color: green;
    border-width: 0 0 2px 0;
    color: black; }
  .checkbox_input .label_container:hover + .label, .upload .label_container:hover + .label {
    color: green; }
  .checkbox_input input[type=checkbox], .upload input[type=checkbox] {
    display: none; }
  .checkbox_input input[type=file], .upload input[type=file] {
    opacity: 0; }
  .checkbox_input input[type=checkbox]:checked + .value_text .true, .upload input[type=checkbox]:checked + .value_text .true {
    display: block; }
    .checkbox_input input[type=checkbox]:checked + .value_text .false, .upload input[type=checkbox]:checked + .value_text .false {
      display: none; }
  .checkbox_input .value_text, .upload .value_text {
    cursor: pointer;
    cursor: hand;
    border-width: 0 0 1px 0;
    border-color: lightgrey;
    border-style: solid;
    font-size: 1.5rem;
    margin-right: auto;
    color: #666;
    width: 90%; }
    @media screen and (max-width: 766px) {
  .checkbox_input .value_text, .upload .value_text {
    font-size: 1.2rem; } }
    .checkbox_input .value_text .true, .upload .value_text .true {
      display: none; }
    .checkbox_input .value_text .false, .upload .value_text .false {
      display: block; }
    .checkbox_input .value_text i, .upload .value_text i {
      float: right; }
    .checkbox_input .label, .upload .label {
      color: lightgrey;
      display: block;
      margin: 0;
      margin-top: 10px;
      margin-left: 20px; }
    @media screen and (max-width: 766px) {
  .checkbox_input .label, .upload .label {
    margin-left: 10px; } }

.input_full {
  width: 100%; }
  .input_full input, .input_full select, .input_full .value_text {
    width: 97.5%; }

.input_large {
  width: 83.5%; }
  .input_large input, .input_large select, .input_large .value_text {
    width: 96%; }

.input_big {
  width: 75%; }
  .input_big input, .input_big select, .input_big .value_text {
    width: 95%; }

.input_medium {
  width: 33%; }
  .input_medium input, .input_medium select, .input_medium .value_text {
    width: 92.5%; }

.input_small {
  width: 25%; }
  .input_small input, .input_small select, .input_small .value_text {
    width: 90%; }

.input_mini {
  width: 16.6%; }
  .input_mini input, .input_mini select, .input_mini .value_text {
    width: 80%; }

.block {
  background-color: white;
  width: 800px;
  max-width: 95%;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(100, 100, 100, 0.2), 0 6px 20px 0 rgba(100, 100, 100, 0.19); }
  .block.medium {
    max-width: 580px; }
  .block.icon {
    width: 180px !important;
    height: 180px; }
    .block.icon .body {
      margin: 0px; }
      .block.icon .body img {
        margin: 10px; }
  .block.tiny {
    width: 200px; }
  .block p.info {
    font-size: 1.1rem;
    color: #777;
    width: 95%;
    text-align: justify;
    border-left: #ccc 2px solid;
    border-right: #ccc 2px solid;
    border-radius: 10px;
    padding: 10px;
    margin: 0px;
    margin-bottom: 15px;
    background-color: #f5f5f5; }
    @media screen and (max-width: 766px) {
  .block p.info {
    font-size: 0.9rem;
    margin: 5px;
    margin-bottom: 15px; } }
    .block p.info::before {
      font-family: FontAwesome;
      content: "\f059";
      color: green; }
  .block .header {
    color: white;
    width: 100%;
    background-color: green;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19); }
    .block .header div {
      padding: 5px 10px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .block .header span {
      font-size: 2rem;
      font-weight: bold;
      transition: transform 0.5s; }
      @media screen and (max-width: 766px) {
  .block .header span {
    font-size: 2rem; } }
      .block .header span.rotated {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -webkit-transition: transform 0.7s;
        transition: transform 0.7s; }
      .block .header span:hover {
        color: #8bc34a;
        cursor: pointer; }
      .block .header span:active {
        color: darkgreen;
        cursor: pointer; }
  .block .body {
    margin: 20px;
    margin-bottom: 40px; }
    @media screen and (max-width: 766px) {
  .block .body {
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 30px; } }
    .block .body.hidden {
      display: none; }

.row .block {
  width: 95%;
  margin: 10px;
  min-width: 200px; }
  @media screen and (max-width: 766px) {
  .row .block {
    margin-left: auto;
    margin-right: auto; } }

footer {
  height: 100px;
  width: 100%;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  margin-top: 50px;
  margin-bottom: 0px;
  box-shadow: 0px -1px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19); }

.footer_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white; }
  .footer_info p {
    margin: 0px;
    padding: 0px; }

.tooltip_container {
  position: relative;
  display: inline-block; }
  .tooltip_container:hover .tooltip.hover {
    visibility: visible; }
  .tooltip_container.display .tooltip {
    visibility: visible; }
  .tooltip_container .tooltip {
    visibility: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 12rem;
    background-color: rgba(0, 0, 0, .7);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 0.5rem 1rem;
    position: absolute;
    z-index: 1; }
    .tooltip_container .tooltip::after {
      content: "";
      position: absolute;
      border-style: solid; }
    .tooltip_container .tooltip.top {
      bottom: 110%;
      margin-left: -75px;
      left: 50%; }
      .tooltip_container .tooltip.top::after {
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-color: rgba(0, 0, 0, .7) transparent transparent transparent; }
    .tooltip_container .tooltip.bottom {
      top: 110%;
      margin-left: -75px;
      left: 50%;
      background-color: rgba(255, 0, 0, .7); }
      .tooltip_container .tooltip.bottom.error {
        top: 154%;
        width: 12rem;
        left: 0%; }
      .tooltip_container .tooltip.bottom::after {
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-color: transparent transparent rgba(255, 0, 0, .7) transparent; }
    .tooltip_container .tooltip.left {
      top: 25%;
      right: 105%; }
      .tooltip_container .tooltip.left::after {
        top: 50%;
        left: 100%;
        margin-top: -5px;
        border-width: 5px;
        border-color: transparent transparent transparent rgba(0, 0, 0, .7); }
    .tooltip_container .tooltip.right {
      top: 25%;
      left: 105%;
      background-color: rgba(255, 0, 0, .7); }
      .tooltip_container .tooltip.right.error {
        top: -20%;
        width: 12rem;
        left: 130%; }
      .tooltip_container .tooltip.right::after {
        top: 50%;
        right: 100%;
        margin-top: -5px;
        border-width: 5px;
        border-color: transparent rgba(255, 0, 0, .7) transparent transparent; }

#user_meets_attended, #user_member_groups, #user_meets_hosted, #user_location {
  display: flex;
  width: 100%;
  height: 100%; }
  #user_meets_attended .number, #user_member_groups .number, #user_meets_hosted .number, #user_location .number, #user_meets_attended .state, #user_member_groups .state, #user_meets_hosted .state, #user_location .state {
    font-size: 3.5rem;
    color: white;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media screen and (max-width: 766px) {
  #user_meets_attended .number, #user_member_groups .number, #user_meets_hosted .number, #user_location .number, #user_meets_attended .state, #user_member_groups .state, #user_meets_hosted .state, #user_location .state {
    font-size: 2.5rem; } }
    #user_meets_attended .number p, #user_member_groups .number p, #user_meets_hosted .number p, #user_location .number p, #user_meets_attended .state p, #user_member_groups .state p, #user_meets_hosted .state p, #user_location .state p {
      text-align: center;
      margin: 1rem; }
  #user_meets_attended .number:hover, #user_member_groups .number:hover, #user_meets_hosted .number:hover, #user_location .number:hover {
    background-color: darkgreen;
    color: #8bc34a;
    cursor: pointer;
    cursor: hand; }
  #user_meets_attended .address_city, #user_member_groups .address_city, #user_meets_hosted .address_city, #user_location .address_city, #user_meets_attended .title, #user_member_groups .title, #user_meets_hosted .title, #user_location .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center; }
  #user_meets_attended .title, #user_member_groups .title, #user_meets_hosted .title, #user_location .title {
    font-size: 2rem; }
  #user_meets_attended .city, #user_member_groups .city, #user_meets_hosted .city, #user_location .city {
    font-size: 2.5rem; }

#user_location .number, #user_meets_hosted .number, #user_location .state, #user_meets_hosted .state {
  margin-left : auto; }

#user_meets_attended .number, #user_member_groups .number {
  margin-right: auto; }

#user_location div.state.is_current_user, .user_icon_container.is_current_user {
  position: relative; }
  #user_location div.state.is_current_user .overlay, .user_icon_container.is_current_user .overlay {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    #user_location div.state.is_current_user .overlay i, .user_icon_container.is_current_user .overlay i {
      background-color: green;
      color: white;
      font-size: 16px;
      padding: 16px;
      border-radius: 50px; }
      #user_location div.state.is_current_user .overlay i.active, .user_icon_container.is_current_user .overlay i.active {
        color: #8bc34a; }
  #user_location div.state.is_current_user:hover .overlay, .user_icon_container.is_current_user:hover .overlay {
    opacity: 1;
    cursor: pointer;
    cursor: hand; }
  #user_location div.state.is_current_user img, .user_icon_container.is_current_user img {
    backface-visibility: hidden;
    transition: 0.5s ease; }
  #user_location div.state.is_current_user:hover img, .user_icon_container.is_current_user:hover img, #user_location div.state.is_current_user:hover p, .user_icon_container.is_current_user:hover p {
    opacity: 0.3; }

#edit-user-info, #edit-contact-info {
  cursor: pointer;
  cursor: hand; }
  #edit-user-info:active, #edit-contact-info:active {
    color: #8bc34a; }

#everyone_map {
  height: 86%;
  width: 90%;
  min-height: 400px;
  max-width: 1000px;
  max-height: 700px;
  position: relative !important; }
  @media screen and (max-width: 766px) {
  #everyone_map {
    height: 400px;
    width: 100%; } }

.map_city_icon_list .map_city_icon_row {
  display: flex; }
  .map_city_icon_list .map_city_icon_row a {
    text-decoration: none; }
  .map_city_icon_list .map_city_icon_row img {
    margin: 3px; }

.c-scrim {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.541176);
  opacity: 0;
  transition: 200ms ease opacity;
  will-change: opacity; }

.c-scrim--shown {
  z-index: 2;
  opacity: 1; }

.c-datepicker {
  min-height: 610px;
  position: fixed;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  background: white;
  border: 0;
  width: 300px;
  text-align: center;
  -webkit-tap-highalt-color: transparent;
  box-shadow: 0 14px 45px rgba(0, 0, 0, 0.25), 0 10px 18px rgba(0, 0, 0, 0.22);
  border-radius: 2px;
  opacity: 0;
  will-change: opacity;
  transition: 200ms ease-in-out opacity, 200ms ease-in-out top; }

.c-datepicker--open {
  opacity: 1;
  z-index: 3;
  top: 50%; }

.c-datepicker__header {
  position: relative; }

.c-datepicker__header-day {
  height: 32px;
  background: #32982b;
  color: white;
  line-height: 32px;
  font-size: 12px;
  font-weight: bolder;
  letter-spacing: 0.3px; }

.c-datepicker__header::after {
  content: "";
  display: table;
  clear: both; }

.c-datepicker__header-date {
  background: green;
  height: 150px;
  padding: 16px 0; }

.rd-month-label {
  height: 56px;
  line-height: 56px;
  font-size: 14px;
  font-weight: 800; }

.c-datepicker__back, .c-datepicker__next, .c-datepicker__toggle {
  position: absolute;
  border: 0;
  background: white;
  font-family: 'Material Icons';
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga" 1;
  font-style: normal;
  text-transform: none;
  line-height: 1;
  font-size: 24px;
  width: 56px;
  height: 56px;
  display: inline-block;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  cursor: pointer; }

.c-datepicker__back:focus, .c-datepicker__next:focus, .c-datepicker__toggle:focus {
  outline: 0; }

.c-datepicker__back {
  left: 0; }

.c-datepicker__next {
  right: 0; }

.c-datepicker__back:before {
  content: 'chevron_left'; }

.c-datepicker__next:after {
  content: 'chevron_right'; }

.c-datepicker--show-time:after {
  content: 'access_time';
  color: white;
  visibility: visible; }

.c-datepicker--show-calendar:after {
  content: 'grid_on';
  color: white;
  visibility: visible; }

.c-datepicker__header-date span {
  display: block;
  color: white;
  margin: 4px 0;
  transition: opacity 100ms ease-in-out; }

.c-datepicker__header-date__month {
  cursor: pointer;
  font-size: 24px;
  opacity: 0.6; }

.c-datepicker__header-date__day {
  cursor: pointer;
  font-size: 64px;
  opacity: 0.6; }

.c-datepicker__header-date__time {
  font-size: 25px;
  opacity: 0.6; }

.c-datepicker__header-date__time > span {
  display: inline-block; }

.c-datepicker__header-date__hours, .c-datepicker__header-date__minutes {
  cursor: pointer; }

.c-datepicker--show-time.is-selected ~ .c-datepicker__header .c-datepicker__header-date__time {
  opacity: 1; }

.c-datepicker--show-time.is-selected ~ .c-datepicker__header .c-datepicker__header-date__time .c-datepicker__header-date__hours, .c-datepicker--show-time.is-selected ~ .c-datepicker__header .c-datepicker__header-date__time .c-datepicker__header-date__minutes {
  opacity: 0.6; }

.c-datepicker--show-time.is-selected ~ .c-datepicker__header .c-datepicker__header-date__time .c-datepicker__header-date__hours.active, .c-datepicker--show-time.is-selected ~ .c-datepicker__header .c-datepicker__header-date__time .c-datepicker__header-date__minutes.active {
  opacity: 1; }

.c-datepicker--show-calendar.is-selected ~ .c-datepicker__header .c-datepicker__header-date__month, .c-datepicker--show-calendar.is-selected ~ .c-datepicker__header .c-datepicker__header-date__day {
  opacity: 1; }

.modal-btns {
  padding: 20px;
  position: absolute;
  bottom: 0;
  right: 0; }

.c-datepicker__day-body {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.8);
  width: 36px;
  height: 36px;
  cursor: pointer;
  position: relative; }

.c-datepicker__day--selected::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.18); }

.c-datepicker__day-head {
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
  height: 36px; }

.c-datepicker__day-head, c-datepicker__day-body {
  -webkit-tap-highalt-color: transparent; }

.modal-btns {
  float: right; }

.c-btn {
  display: inline-block;
  min-width: 56px;
  cursor: pointer; }

.rd-day-prev-month {
  opacity: 0.1;
  pointer-events: none; }

.rd-day-next-month {
  opacity: 0.1;
  pointer-events: none; }

.c-datepicker__calendar {
  height: 300px; }

.c-datepicker__date {
  position: absolute;
  left: 0;
  right: 0; }

.c-datepicker__days {
  margin: 10px 20px; }

.c-datepicker__header-toggle {
  position: absolute;
  top: 50%;
  color: white;
  cursor: pointer; }

.c-datepicker__header-toggle i {
  font-size: 26px; }

.c-datepicker__header-toggle--left {
  left: 20px; }

.c-datepicker__header-toggle--right {
  right: 20px; }

.c-datepicker__header-toggle--inactive {
  opacity: 0.2; }

.c-datepicker__toggle {
  top: 170px;
  width: 36px;
  height: 30px;
  visibility: hidden;
  opacity: 0.5;
  z-index: 1;
  transition: opacity 200ms ease-in-out; }

.c-datepicker__toggle--right {
  right: 10px; }

.c-datepicker__toggle--left {
  left: 10px; }

.c-datepicker__toggle.is-selected {
  opacity: 1; }

.c-datepicker--show-time.is-selected ~ .c-datepicker__calendar {
  display: none; }

.c-datepicker--show-calendar.is-selected ~ .c-datepicker__clock {
  display: none; }

.c-datepicker__clock {
  /* [1] */
  position: relative;
  width: 200px;
  height: 200px;
  padding: 0;
  border-radius: 50%;
  /* [2] */
  list-style: none;
  font-size: 14px;
  line-height: 50px;
  padding: 160px 0 20px 0;
  margin: 0 auto; }

.c-datepicker__clock .c-datepicker__clock__num {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin: -25px;
  z-index: 98; }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(1) {
  transform: rotate(0deg) translate(100px) rotate(0deg); }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(1).c-datepicker__clock__num--active:not(.hide-hand) ~ .c-datepicker__clock-hands {
  transform: translate(-50%, -50%) rotate(270deg); }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(1).c-datepicker__clock__num--active:not(.hide-hand) ~ .c-datepicker__clock-hands .c-datepicker__hour-hand {
  opacity: 1;
  background: green; }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(1):hover ~ .c-datepicker__clock-hands {
  transform: translate(-50%, -50%) rotate(270deg); }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(1):hover ~ .c-datepicker__clock-hands .c-datepicker__hour-hand {
  opacity: 1;
  background: green; }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(2) {
  transform: rotate(30deg) translate(100px) rotate(-30deg); }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(2).c-datepicker__clock__num--active:not(.hide-hand) ~ .c-datepicker__clock-hands {
  transform: translate(-50%, -50%) rotate(300deg); }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(2).c-datepicker__clock__num--active:not(.hide-hand) ~ .c-datepicker__clock-hands .c-datepicker__hour-hand {
  opacity: 1;
  background: green; }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(2):hover ~ .c-datepicker__clock-hands {
  transform: translate(-50%, -50%) rotate(300deg); }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(2):hover ~ .c-datepicker__clock-hands .c-datepicker__hour-hand {
  opacity: 1;
  background: green; }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(3) {
  transform: rotate(60deg) translate(100px) rotate(-60deg); }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(3).c-datepicker__clock__num--active:not(.hide-hand) ~ .c-datepicker__clock-hands {
  transform: translate(-50%, -50%) rotate(330deg); }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(3).c-datepicker__clock__num--active:not(.hide-hand) ~ .c-datepicker__clock-hands .c-datepicker__hour-hand {
  opacity: 1;
  background: green; }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(3):hover ~ .c-datepicker__clock-hands {
  transform: translate(-50%, -50%) rotate(330deg); }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(3):hover ~ .c-datepicker__clock-hands .c-datepicker__hour-hand {
  opacity: 1;
  background: green; }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(4) {
  transform: rotate(90deg) translate(100px) rotate(-90deg); }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(4).c-datepicker__clock__num--active:not(.hide-hand) ~ .c-datepicker__clock-hands {
  transform: translate(-50%, -50%) rotate(360deg); }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(4).c-datepicker__clock__num--active:not(.hide-hand) ~ .c-datepicker__clock-hands .c-datepicker__hour-hand {
  opacity: 1;
  background: green; }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(4):hover ~ .c-datepicker__clock-hands {
  transform: translate(-50%, -50%) rotate(360deg); }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(4):hover ~ .c-datepicker__clock-hands .c-datepicker__hour-hand {
  opacity: 1;
  background: green; }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(5) {
  transform: rotate(120deg) translate(100px) rotate(-120deg); }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(5).c-datepicker__clock__num--active:not(.hide-hand) ~ .c-datepicker__clock-hands {
  transform: translate(-50%, -50%) rotate(390deg); }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(5).c-datepicker__clock__num--active:not(.hide-hand) ~ .c-datepicker__clock-hands .c-datepicker__hour-hand {
  opacity: 1;
  background: green; }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(5):hover ~ .c-datepicker__clock-hands {
  transform: translate(-50%, -50%) rotate(390deg); }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(5):hover ~ .c-datepicker__clock-hands .c-datepicker__hour-hand {
  opacity: 1;
  background: green; }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(6) {
  transform: rotate(150deg) translate(100px) rotate(-150deg); }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(6).c-datepicker__clock__num--active:not(.hide-hand) ~ .c-datepicker__clock-hands {
  transform: translate(-50%, -50%) rotate(420deg); }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(6).c-datepicker__clock__num--active:not(.hide-hand) ~ .c-datepicker__clock-hands .c-datepicker__hour-hand {
  opacity: 1;
  background: green; }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(6):hover ~ .c-datepicker__clock-hands {
  transform: translate(-50%, -50%) rotate(420deg); }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(6):hover ~ .c-datepicker__clock-hands .c-datepicker__hour-hand {
  opacity: 1;
  background: green; }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(7) {
  transform: rotate(180deg) translate(100px) rotate(-180deg); }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(7).c-datepicker__clock__num--active:not(.hide-hand) ~ .c-datepicker__clock-hands {
  transform: translate(-50%, -50%) rotate(450deg); }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(7).c-datepicker__clock__num--active:not(.hide-hand) ~ .c-datepicker__clock-hands .c-datepicker__hour-hand {
  opacity: 1;
  background: green; }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(7):hover ~ .c-datepicker__clock-hands {
  transform: translate(-50%, -50%) rotate(450deg); }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(7):hover ~ .c-datepicker__clock-hands .c-datepicker__hour-hand {
  opacity: 1;
  background: green; }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(8) {
  transform: rotate(210deg) translate(100px) rotate(-210deg); }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(8).c-datepicker__clock__num--active:not(.hide-hand) ~ .c-datepicker__clock-hands {
  transform: translate(-50%, -50%) rotate(480deg); }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(8).c-datepicker__clock__num--active:not(.hide-hand) ~ .c-datepicker__clock-hands .c-datepicker__hour-hand {
  opacity: 1;
  background: green; }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(8):hover ~ .c-datepicker__clock-hands {
  transform: translate(-50%, -50%) rotate(480deg); }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(8):hover ~ .c-datepicker__clock-hands .c-datepicker__hour-hand {
  opacity: 1;
  background: green; }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(9) {
  transform: rotate(240deg) translate(100px) rotate(-240deg); }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(9).c-datepicker__clock__num--active:not(.hide-hand) ~ .c-datepicker__clock-hands {
  transform: translate(-50%, -50%) rotate(510deg); }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(9).c-datepicker__clock__num--active:not(.hide-hand) ~ .c-datepicker__clock-hands .c-datepicker__hour-hand {
  opacity: 1;
  background: green; }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(9):hover ~ .c-datepicker__clock-hands {
  transform: translate(-50%, -50%) rotate(510deg); }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(9):hover ~ .c-datepicker__clock-hands .c-datepicker__hour-hand {
  opacity: 1;
  background: green; }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(10) {
  transform: rotate(270deg) translate(100px) rotate(-270deg); }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(10).c-datepicker__clock__num--active:not(.hide-hand) ~ .c-datepicker__clock-hands {
  transform: translate(-50%, -50%) rotate(540deg); }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(10).c-datepicker__clock__num--active:not(.hide-hand) ~ .c-datepicker__clock-hands .c-datepicker__hour-hand {
  opacity: 1;
  background: green; }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(10):hover ~ .c-datepicker__clock-hands {
  transform: translate(-50%, -50%) rotate(540deg); }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(10):hover ~ .c-datepicker__clock-hands .c-datepicker__hour-hand {
  opacity: 1;
  background: green; }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(11) {
  transform: rotate(300deg) translate(100px) rotate(-300deg); }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(11).c-datepicker__clock__num--active:not(.hide-hand) ~ .c-datepicker__clock-hands {
  transform: translate(-50%, -50%) rotate(570deg); }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(11).c-datepicker__clock__num--active:not(.hide-hand) ~ .c-datepicker__clock-hands .c-datepicker__hour-hand {
  opacity: 1;
  background: green; }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(11):hover ~ .c-datepicker__clock-hands {
  transform: translate(-50%, -50%) rotate(570deg); }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(11):hover ~ .c-datepicker__clock-hands .c-datepicker__hour-hand {
  opacity: 1;
  background: green; }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(12) {
  transform: rotate(330deg) translate(100px) rotate(-330deg); }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(12).c-datepicker__clock__num--active:not(.hide-hand) ~ .c-datepicker__clock-hands {
  transform: translate(-50%, -50%) rotate(600deg); }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(12).c-datepicker__clock__num--active:not(.hide-hand) ~ .c-datepicker__clock-hands .c-datepicker__hour-hand {
  opacity: 1;
  background: green; }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(12):hover ~ .c-datepicker__clock-hands {
  transform: translate(-50%, -50%) rotate(600deg); }

.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(12):hover ~ .c-datepicker__clock-hands .c-datepicker__hour-hand {
  opacity: 1;
  background: green; }

.c-datepicker__clock::before {
  content: "";
  position: absolute;
  top: 70px;
  left: -20px;
  width: 240px;
  height: 240px;
  background: rgba(0, 0, 0, 0.18);
  border-radius: 50%; }

.u-hover-ball-effect, .c-datepicker__day-body, .c-datepicker__clock__num, .c-datepicker__clock__am-pm-toggle label {
  position: relative;
  cursor: pointer; }

.u-hover-ball-effect:before, .c-datepicker__day-body:before, .c-datepicker__clock__num:before, .c-datepicker__clock__am-pm-toggle label:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0%;
  height: 0%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: width 100ms ease-in-out, height 100ms ease-in-out; }

.u-hover-ball-effect:hover, .c-datepicker__day-body:hover, .c-datepicker__clock__num:hover, .c-datepicker__clock__am-pm-toggle label:hover {
  color: white; }

.u-hover-ball-effect:hover:before, .c-datepicker__day-body:hover:before, .c-datepicker__clock__num:hover:before, .c-datepicker__clock__am-pm-toggle label:hover:before {
  background: green;
  width: 35px;
  height: 35px;
  z-index: -1; }

.c-datepicker__day-body--active:not(.hide-hand), .c-datepicker__clock__num--active:not(.hide-hand) {
  color: white; }

.c-datepicker__day-body--active:not(.hide-hand):before, .c-datepicker__clock__num--active:not(.hide-hand):before {
  background: green;
  width: 35px;
  height: 35px;
  z-index: -1; }

.c-datepicker__clock-hands {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #32982b; }

.c-datepicker__hour-hand {
  position: absolute;
  opacity: 0;
  height: 78px;
  width: 2px;
  background: green;
  left: 4px;
  top: 10px; }

.c-datepicker__clock__minutes {
  display: none;
  height: 200px;
  margin: -69px 0 0 0;
  width: 200px;
  display: none; }

.c-datepicker__clock__minutes.active {
  display: block; }

.c-datepicker__clock__hours {
  height: 200px;
  margin: -69px 0 0 0;
  width: 200px;
  display: none; }

.c-datepicker__clock__hours.active {
  display: block; }

.c-datepicker__mask {
  width: 127px;
  height: 132px;
  position: absolute;
  top: 122px;
  left: 37px;
  z-index: 99; }

.c-datepicker__mask:after {
  content: ' ';
  width: 156px;
  height: 70px;
  display: block;
  position: absolute;
  top: 32px;
  left: 0;
  margin-left: -13px; }

.c-datepicker__mask:before {
  content: ' ';
  width: 75px;
  height: 158px;
  display: block;
  position: absolute;
  top: 6px;
  left: 28px;
  margin-top: -18px; }

.c-datepicker__clock--show-minutes .c-datepicker__clock__minutes {
  visibility: visible; }

.c-datepicker__clock--show-minutes .c-datepicker__clock__hours {
  visibility: hidden; }

.c-datepicker__clock--show-hours .c-datepicker__clock__minutes {
  visibility: hidden; }

.c-datepicker__clock--show-hours .c-datepicker__clock__hours {
  visibility: visible; }

.c-datepicker__clock__am-pm-toggle {
  position: absolute;
  top: 0;
  left: 10px;
  right: 10px;
  height: 40px;
  padding: 20px;
  line-height: 40px; }

.c-datepicker__clock__am-pm-toggle label {
  width: 40px;
  position: absolute; }

.c-datepicker__clock__am-pm-toggle label:nth-child(1) {
  left: 0; }

.c-datepicker__clock__am-pm-toggle label:nth-child(2) {
  right: 0; }

.c-datepicker__clock__am-pm-toggle label.c-datepicker__toggle--checked::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0%;
  height: 0%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  z-index: -1;
  background: rgba(0, 0, 0, 0.18); }
