/* compiled by scssphp v0.0.12 on Tue, 25 Apr 2017 11:06:10 -0400 (0.0677s) */

html {
  font-size: 14px;
  min-height: 100vh; }

.error_message {
  background-color: lightgray;
  border-radius: 10px;
  font-family: courier;
  border-left: red solid 1px;
  margin: 10px;
  border-right: red solid 1px; }
  .error_message p {
    padding: 10px; }

.shadow_title {
  text-shadow: 3px 3px 5px darkgrey;
  font-size: 2.5rem;
  color: green; }

form.main {
  flex-grow: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column; }

body {
  min-height: 100vh;
  background-color: #eee;
  margin: 0px;
  font-family: arial;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

main {
  flex-grow: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden; }

.row {
  display: flex; }
  .row.center {
    justify-content: center; }
  @media screen and (max-width: 766px) {
    .row.mobile_column {
      flex-direction: column; }
      .row.mobile_column .input_normal, .row.mobile_column .input_small, .row.mobile_column .input_mini, .row.mobile_column .input_big, .row.mobile_column .input_medium {
        width: 97.5%; } }

.right {
  float: right;
  margin-left: auto; }

.center_column {
  margin: auto;
  max-width: 80%;
  width: 1000px; }
  @media screen and (max-width: 766px) {
  .center_column {
    max-width: 100%; } }

.margin_left_small {
  margin-left: 5px; }

.header_small {
  font-size: 2rem;
  margin: 0; }
  @media screen and (max-width: 766px) {
  .header_small {
    font-size: 1.5rem; } }

@media screen and (max-width: 766px) {
  .desktop {
    display: none; } }

.unselectable {
  user-select: none; }

::selection {
  background: #9fc;
  color: black; }

.info_table {
  width: 100%;
  font-size: 1.2rem;
  color: #5f5f5f;
  border-spacing: 5px;
  font-weight: bold; }
  @media screen and (max-width: 766px) {
  .info_table {
    font-size: 1rem; } }
  .info_table .item_value {
    width: 50%;
    vertical-align: bottom;
    color: grey; }
  .info_table .item_title {
    vertical-align: top; }
  .info_table td {
    border-bottom: darkgrey solid 1px; }
  .info_table td:last-child {
    width: 70%; }
  .info_table tr:last-child td {
    border-bottom-width: 0; }

header {
  width: 100%; }
  header .logo {
    max-height: 100px;
    max-width: 28%; }
    @media screen and (max-width: 766px) {
  header .logo {
    max-height: 100px;
    width: auto; } }
  header .name {
    max-width: 70%;
    max-height: 70px; }
  header .site_banner {
    background-color: #9fc; }
  header .nav_bar {
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19); }

.nav_bar {
  background-color: green;
  display: flex;
  margin-bottom: 10px;
  align-items: center; }
  .nav_bar a.item {
    color: #fff;
    padding: 8px 7px;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    height: 40px;
    align-items: center;
    display: flex; }
    @media screen and (max-width: 766px) {
  .nav_bar a.item {
    font-size: 2rem;
    padding: 8px 6px; } }
    .nav_bar a.item:hover {
      background-color: darkgreen;
      color: #9fc; }
    .nav_bar a.item:active {
      background-color: #9fc;
      color: black; }
  .nav_bar div.right {
    margin-left: auto; }
  .nav_bar a > i.fa {
    font-size: inherit; }
  .nav_bar .info:hover, .nav_bar .info:active {
    background-color: green !important;
    color: white !important; }

.nav_fixed {
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%; }

.hidden_bumper {
  height: 60px;
  display: none; }

.grid_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  margin: 10px;
  margin-top: 0;
  margin-bottom: 0; }
  .grid_column .grid_block {
    margin-left: 0px;
    margin-right: 0px; }

.grid_block {
  background-color: white;
  overflow: hidden;
  min-width: 200px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(100, 100, 100, 0.2), 0 6px 20px 0 rgba(100, 100, 100, 0.19); }
  .grid_block .header {
    width: 100%;
    background-color: green;
    color: white;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    align-items: center; }
    .grid_block .header h1 {
      font-size: 1.8rem;
      margin: 0px;
      padding: 5px; }
    .grid_block .header i {
      font-size: 1.4rem;
      margin: 10px;
      margin-left: auto; }
  .grid_block .body {
    margin: 10px;
    overflow: auto; }

@media screen and (max-width: 766px) {
      .grid_block .body, .grid_column .body {
        height: 240px !important; } }
  .grid_block.h_big, .grid_column.h_big {
    height: 360px; }
    .grid_block.h_big .body, .grid_column.h_big .body {
      height: 300px; }
  .grid_block.h_large, .grid_column.h_large {
    height: 300px; }
    .grid_block.h_large .body, .grid_column.h_large .body {
      height: 240px; }
  .grid_block.h_medium, .grid_column.h_medium {
    height: 200px; }
    .grid_block.h_medium .body, .grid_column.h_medium .body {
      height: 140px; }
  .grid_block.h_normal, .grid_column.h_normal {
    height: 240px; }
    .grid_block.h_normal .body, .grid_column.h_normal .body {
      height: 180px; }
  .grid_block.h_small, .grid_column.h_small {
    height: 170px; }
    .grid_block.h_small .body, .grid_column.h_small .body {
      height: 110px; }
  .grid_block.h_mini, .grid_column.h_mini {
    height: 75px; }
    .grid_block.h_mini .body, .grid_column.h_mini .body {
      height: 15px; }
  .grid_block.w_full, .grid_column.w_full {
    width: 100%; }
  .grid_block.w_normal, .grid_column.w_normal {
    width: 49%; }
  .grid_block.w_large, .grid_column.w_large {
    width: 64%; }
  .grid_block.w_big, .grid_column.w_big {
    width: 72%; }
  .grid_block.w_medium, .grid_column.w_medium {
    width: 32%;
    min-width: 150px; }
  .grid_block.w_small, .grid_column.w_small {
    width: 24%;
    min-width: 135px; }
  @media screen and (max-width: 766px) {
  .grid_block, .grid_column {
    width: 90% !important;
    min-width: 300px !important;
    height: 300px !important; }
    .grid_block .grid_block, .grid_column .grid_block {
      width: 100% !important; } }
  .grid_block.image, .grid_column.image {
    height: 180px !important;
    width: 180px !important;
    min-width: 180px !important;
    min-height: 180px !important; }

.row.grid {
  align-items: center;
  width: 100%; }

@media screen and (max-width: 766px) {
  .row.grid {
    flex-direction: column; } }

.small_icon {
  width: 40px;
  height: 40px; }
  .small_icon.round {
    clip-path: circle(20px at center); }

.large_icon {
  width: 180px;
  height: 180px; }
  .large_icon.round {
    clip-path: circle(90px at center); }

.modal {
  display: none;
  position: fixed;
  z-index: 3;
  padding-top: 100px;
  padding-bottom: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); }
  .modal .content {
    position: relative;
    background-color: white;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 500px;
    min-width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.8s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    overflow: hidden; }
  .modal .small {
    max-width: 300px; }
  .modal .large {
    max-width: 700px; }
  .modal .header {
    color: white;
    width: 100%;
    background-color: green; }
    .modal .header h1 {
      padding: 30px 10px 5px 20px; }
  .modal .close {
    font-size: 2rem;
    font-weight: bold;
    padding: 5px; }
    .modal .close:hover {
      color: #9fc;
      cursor: pointer; }
    .modal .close:active {
      color: darkgreen;
      cursor: pointer; }
  .modal .body {
    padding: 30px 10px 10px 10px; }

p.modal_text {
  margin: 1.2rem;
  font-size: 1.5rem;
  margin-top: 0px;
  padding: 0px;
  color: #444; }

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }

  to {
    top: 0;
    opacity: 1; } }

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }

  to {
    top: 0;
    opacity: 1; } }

.text_input, .select_input {
  width: 50%;
  margin-top: 10px;
  margin-bottom: 10px; }
  @media screen and (max-width: 766px) {
  .text_input, .select_input {
    margin: 5px; } }
  .text_input label, .select_input label {
    color: lightgrey;
    display: block;
    margin: 0;
    margin-top: 10px;
    margin-left: 20px; }
    .text_input label.required:after, .select_input label.required:after {
      content: "*";
      color: red;
      font-weight: bolder; }
  .text_input input, .select_input input, .text_input select, .select_input select {
    padding: 0;
    border-width: 0 0 1px 0;
    background-color: white;
    border-color: lightgrey;
    font-size: 1.2em;
    display: block;
    width: 95%;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
    color: #666; }
    @media screen and (max-width: 766px) {
  .text_input input, .select_input input, .text_input select, .select_input select {
    font-size: 1.2rem; } }
    .text_input input:hover, .select_input input:hover, .text_input select:hover, .select_input select:hover, .text_input input:focus, .select_input input:focus, .text_input select:focus, .select_input select:focus {
      border-width: 0 0 2px 0;
      border-color: green;
      color: black; }
    .text_input input:hover + label, .select_input input:hover + label, .text_input select:hover + label, .select_input select:hover + label, .text_input input:focus + label, .select_input input:focus + label, .text_input select:focus + label, .select_input select:focus + label {
      color: green; }

.select_input select {
  margin-top: -1px; }

.input_error {
  color: red; }
  .input_error input {
    color: red;
    border-width: 0 0 2px 0;
    border-color: red; }
  .input_error label {
    color: red; }
  .input_error span {
    font-size: 0.8rem;
    color: red; }

.button {
  cursor: pointer;
  cursor: hand;
  text-decoration: none;
  background-color: green;
  color: white;
  font-size: 1.2rem;
  border-style: none;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 10px; }
  .button.large {
    font-size: 1.5rem;
    border-style: none;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: 2rem; }
  .button.lone {
    box-shadow: 0 4px 8px 0 rgba(100, 100, 100, 0.2), 0 6px 20px 0 rgba(100, 100, 100, 0.19); }

.checkbox_input {
  width: 25%;
  margin-top: 10px; }

.upload {
  width: 50%; }

.checkbox_input, .upload {
  margin-bottom: 10px; }
  @media screen and (max-width: 766px) {
  .checkbox_input, .upload {
    margin: 5px; } }
  .checkbox_input .label_container:hover .value_text, .upload .label_container:hover .value_text {
    border-color: green;
    border-width: 0 0 2px 0;
    color: black; }
  .checkbox_input .label_container:hover + .label, .upload .label_container:hover + .label {
    color: green; }
  .checkbox_input input[type=checkbox], .upload input[type=checkbox] {
    display: none; }
  .checkbox_input input[type=file], .upload input[type=file] {
    opacity: 0; }
  .checkbox_input input[type=checkbox]:checked + .value_text .true, .upload input[type=checkbox]:checked + .value_text .true {
    display: block; }
    .checkbox_input input[type=checkbox]:checked + .value_text .false, .upload input[type=checkbox]:checked + .value_text .false {
      display: none; }
  .checkbox_input .value_text, .upload .value_text {
    cursor: pointer;
    cursor: hand;
    border-width: 0 0 1px 0;
    border-color: lightgrey;
    border-style: solid;
    font-size: 1.5rem;
    margin-right: auto;
    color: #666;
    width: 90%; }
    @media screen and (max-width: 766px) {
  .checkbox_input .value_text, .upload .value_text {
    font-size: 1.2rem; } }
    .checkbox_input .value_text .true, .upload .value_text .true {
      display: none; }
    .checkbox_input .value_text .false, .upload .value_text .false {
      display: block; }
    .checkbox_input .value_text i, .upload .value_text i {
      float: right; }
    .checkbox_input .label, .upload .label {
      color: lightgrey;
      display: block;
      margin: 0;
      margin-top: 10px;
      margin-left: 20px; }

.input_full {
  width: 100%; }
  .input_full input, .input_full select, .input_full .value_text {
    width: 97.5%; }

.input_big {
  width: 75%; }
  .input_big input, .input_big select, .input_big .value_text {
    width: 95%; }

.input_medium {
  width: 33%; }
  .input_medium input, .input_medium select, .input_medium .value_text {
    width: 92.5%; }

.input_small {
  width: 25%; }
  .input_small input, .input_small select, .input_small .value_text {
    width: 90%; }

.input_mini {
  width: 16.6%; }
  .input_mini input, .input_mini select, .input_mini .value_text {
    width: 90%; }

.block {
  background-color: white;
  width: 800px;
  max-width: 95%;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(100, 100, 100, 0.2), 0 6px 20px 0 rgba(100, 100, 100, 0.19); }
  .block.medium {
    max-width: 580px; }
  .block.icon {
    width: 180px !important;
    height: 180px; }
    .block.icon .body {
      margin: 0px; }
      .block.icon .body img {
        margin: 10px; }
  .block.tiny {
    width: 200px; }
  .block p.info {
    font-size: 1.1rem;
    color: #777;
    width: 95%;
    text-align: justify;
    border-left: #ccc 2px solid;
    border-right: #ccc 2px solid;
    border-radius: 10px;
    padding: 10px;
    margin: 0px;
    margin-bottom: 15px;
    background-color: #f5f5f5; }
    @media screen and (max-width: 766px) {
  .block p.info {
    font-size: 0.9rem;
    margin: 5px;
    margin-bottom: 15px; } }
    .block p.info::before {
      font-family: FontAwesome;
      content: "\f059";
      color: green; }
  .block .header {
    color: white;
    width: 100%;
    background-color: green;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19); }
    .block .header div {
      padding: 5px 10px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .block .header span {
      font-size: 2rem;
      font-weight: bold;
      transition: transform 0.5s; }
      @media screen and (max-width: 766px) {
  .block .header span {
    font-size: 2rem; } }
      .block .header span.rotated {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -webkit-transition: transform 0.7s;
        transition: transform 0.7s; }
      .block .header span:hover {
        color: #9fc;
        cursor: pointer; }
      .block .header span:active {
        color: darkgreen;
        cursor: pointer; }
  .block .body {
    margin: 20px;
    margin-bottom: 40px; }
    @media screen and (max-width: 766px) {
  .block .body {
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 30px; } }
    .block .body.hidden {
      display: none; }

.row .block {
  width: 95%;
  margin: 10px;
  min-width: 200px; }
  @media screen and (max-width: 766px) {
  .row .block {
    margin-left: auto;
    margin-right: auto; } }

footer {
  height: 100px;
  width: 100%;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  margin-top: 50px;
  margin-bottom: 0px;
  box-shadow: 0px -1px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19); }

.footer_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white; }
  .footer_info p {
    margin: 0px;
    padding: 0px; }

.tooltip_container {
  position: relative;
  display: inline-block; }
  .tooltip_container:hover .tooltip.hover {
    visibility: visible; }
  .tooltip_container.display .tooltip {
    visibility: visible; }
  .tooltip_container .tooltip {
    visibility: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 12rem;
    background-color: rgba(0, 0, 0, .7);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 0.5rem 1rem;
    position: absolute;
    z-index: 1; }
    .tooltip_container .tooltip::after {
      content: "";
      position: absolute;
      border-style: solid; }
    .tooltip_container .tooltip.top {
      bottom: 110%;
      margin-left: -75px;
      left: 50%; }
      .tooltip_container .tooltip.top::after {
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-color: rgba(0, 0, 0, .7) transparent transparent transparent; }
    .tooltip_container .tooltip.bottom {
      top: 110%;
      margin-left: -75px;
      left: 50%;
      background-color: rgba(255, 0, 0, .7); }
      .tooltip_container .tooltip.bottom.error {
        top: 154%;
        width: 12rem;
        left: 0%; }
      .tooltip_container .tooltip.bottom::after {
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-color: transparent transparent rgba(255, 0, 0, .7) transparent; }
    .tooltip_container .tooltip.left {
      top: 25%;
      right: 105%; }
      .tooltip_container .tooltip.left::after {
        top: 50%;
        left: 100%;
        margin-top: -5px;
        border-width: 5px;
        border-color: transparent transparent transparent rgba(0, 0, 0, .7); }
    .tooltip_container .tooltip.right {
      top: 25%;
      left: 105%;
      background-color: rgba(255, 0, 0, .7); }
      .tooltip_container .tooltip.right.error {
        top: -20%;
        width: 12rem;
        left: 130%; }
      .tooltip_container .tooltip.right::after {
        top: 50%;
        right: 100%;
        margin-top: -5px;
        border-width: 5px;
        border-color: transparent rgba(255, 0, 0, .7) transparent transparent; }

#user_meets_attended, #user_member_groups, #user_meets_hosted, #user_location {
  display: flex;
  width: 100%;
  height: 100%; }
  #user_meets_attended .number, #user_member_groups .number, #user_meets_hosted .number, #user_location .number, #user_meets_attended .state, #user_member_groups .state, #user_meets_hosted .state, #user_location .state {
    font-size: 3.5rem;
    color: white;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media screen and (max-width: 766px) {
  #user_meets_attended .number, #user_member_groups .number, #user_meets_hosted .number, #user_location .number, #user_meets_attended .state, #user_member_groups .state, #user_meets_hosted .state, #user_location .state {
    font-size: 2.5rem; } }
    #user_meets_attended .number p, #user_member_groups .number p, #user_meets_hosted .number p, #user_location .number p, #user_meets_attended .state p, #user_member_groups .state p, #user_meets_hosted .state p, #user_location .state p {
      text-align: center;
      margin: 1rem; }
  #user_meets_attended .number:hover, #user_member_groups .number:hover, #user_meets_hosted .number:hover, #user_location .number:hover {
    background-color: darkgreen;
    color: #9fc;
    cursor: pointer;
    cursor: hand; }
  #user_meets_attended .address_city, #user_member_groups .address_city, #user_meets_hosted .address_city, #user_location .address_city, #user_meets_attended .title, #user_member_groups .title, #user_meets_hosted .title, #user_location .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center; }
  #user_meets_attended .title, #user_member_groups .title, #user_meets_hosted .title, #user_location .title {
    font-size: 2rem; }
  #user_meets_attended .city, #user_member_groups .city, #user_meets_hosted .city, #user_location .city {
    font-size: 2.5rem; }

#user_location .number, #user_meets_hosted .number, #user_location .state, #user_meets_hosted .state {
  margin-left : auto; }

#user_meets_attended .number, #user_member_groups .number {
  margin-right: auto; }

#user_location div.state.is_current_user, .user_icon_container.is_current_user {
  position: relative; }
  #user_location div.state.is_current_user .overlay, .user_icon_container.is_current_user .overlay {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    #user_location div.state.is_current_user .overlay i, .user_icon_container.is_current_user .overlay i {
      background-color: green;
      color: white;
      font-size: 16px;
      padding: 16px;
      border-radius: 50px; }
      #user_location div.state.is_current_user .overlay i.active, .user_icon_container.is_current_user .overlay i.active {
        color: #9fc; }
  #user_location div.state.is_current_user:hover .overlay, .user_icon_container.is_current_user:hover .overlay {
    opacity: 1;
    cursor: pointer;
    cursor: hand; }
  #user_location div.state.is_current_user img, .user_icon_container.is_current_user img {
    backface-visibility: hidden;
    transition: 0.5s ease; }
  #user_location div.state.is_current_user:hover img, .user_icon_container.is_current_user:hover img, #user_location div.state.is_current_user:hover p, .user_icon_container.is_current_user:hover p {
    opacity: 0.3; }

#edit-user-info, #edit-contact-info {
  cursor: pointer;
  cursor: hand; }
  #edit-user-info:active, #edit-contact-info:active {
    color: #9fc; }
