.small_icon {
	width: 40px;
	height: 40px;

	&.round {
		clip-path: circle(20px at center);
	}
}

.large_icon {
	width: 180px;
	height: 180px;

	&.round {
		clip-path: circle(90px at center);
	}
}